{
    "secret_key": "LedController_DefaultKey",
    "strips": [
        {
            "id": "right",
            "count": 650,
            "gpio": 18,
            "freq": 800000,
            "dma": 10,
            "brightness": 255,
            "invert": false,
            "channel": 0,
            "type": "neopixel.ws.SK6812_STRIP_GRBW",
            "power_gpio": 23
        },
        {
            "id": "left",
            "count": 300,
            "gpio": 13,
            "freq": 800000,
            "dma": 10,
            "brightness": 255,
            "invert": false,
            "channel": 1,
            "type": "neopixel.ws.SK6812_STRIP_GRBW",
            "power_gpio": 22
        }
    ],
    "areas":
        [
            {
                "name": "default",
                "strips": [
                    [0, 650, "right"],
                    [0, 50],
                    [300, 0, "left"]
                ]
            },
            {
                "name": "room",
                "strips": [
                    [0, 260, "right"],
                    [0, 20],
                    [280, 0, "left"]
                ]
            }
        ],
    "lights":
        [
            {
                "name": "left",
                "gpio": 24
            },
            {
                "name": "right",
                "gpio": 25
            }
        ]
}
