{
    "secret_key": "Pyxis_Secret_Key",
    "strips": [
	{
            "id": "right",
            "count": 1099,
            "gpio": "board.D18",
            "freq": 800000,
            "dma": 10,
            "brightness": 255,
            "invert": false,
            "channel": 0,
            "type": "neopixel.GRBW",
            "power_gpio": 23
        },
        {
            "id": "left",
            "count": 993,
            "gpio": "board.D13",
            "freq": 800000,
            "dma": 10,
            "brightness": 255,
            "invert": false,
            "channel": 1,
            "type": "neopixel.GRBW",
            "power_gpio": 22
        }
    ],
    "areas":
        [
            {
                "name": "default",
                "strips": [
                    [0, 1099, "right"],
                    [993, 0, "left"]
                ]
            },
            {
                "name": "bib",
                "strips": [
                    [0, 282, "right"],
                    [0, 40],
                    [279, 0, "left"]
                ]
            },
	    {
            "name": "wohnzimmer",
		    "strips": [
		        [537, 1099, "right"],
                [993, 850, "left"],
                [0, 200]
		    ]
	    },
	    {
		    "name": "Saeulen",
		    "strips": [
		        [240, 255, "right"],
		        [276, 292, "right"],
		    [354, 364, "right"],
		    [455, 468, "right"],
		    [527, 543, "right"],
		    [568, 582, "right"]
		]
	    }
        ],
    "lights":
        [
            {
                "name": "left",
                "gpio": 24
            },
            {
                "name": "right",
                "gpio": 25
            }
        ]
}
